@model MountainWeb.Models.WorkspaceGroup.ChooseWorkspaceMV;
@using MountainWeb.Data.Entities;

<link href="~/css/MountainStyles.css" rel="stylesheet"/>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       
        window.addEventListener("click", function () {
            $(".Mountain-WsContMenu").removeClass("Mountain-WsContActive");
        });
        $(".Mountain-ContextMenuButton").click(function (event) {
            event.stopPropagation();
            $(".Mountain-WsContMenu").removeClass("Mountain-WsContActive");
            $(this).parent("div").children(".Mountain-WsContMenu").addClass("Mountain-WsContActive");
           
            var x = this.offsetLeft + 20;
            var y = this.offsetTop + 45;
            $(this).parent("div").children(".Mountain-WsContMenu").css({left: x, top:y})
        });
    });
</script>
<script type="text/javascript">
    function DeleteWorkspace(WId) {
        var msgBoxHeader = "Виделення робочого місця";
        var confirmText = "Видалити";
        var canselText = "Відмінити";
        var msgMainText = "Введіть \" " + confirmText + " \" щоб відтвердити дію, або " + canselText + " якщо передумали";
        var promptText = prompt(msgBoxHeader + "\n" + msgMainText, confirmText+" | "+canselText);
        var WorkspaceId = WId;
        var WorkspacePanel = this;
        
        if (promptText == confirmText) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteWorkspace", "Workspace")",
                data: { Id: WorkspaceId },
                dataType: "text",
                success: function (msg) {
                    console.log("Workspace " + WorkspaceId + " was deleted.");
                    removeWorkspacePanel(WorkspaceId);
                    console.log(msg)
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
        }
        function removeWorkspacePanel(id) {
            var panelId = "WorkspacePanel_" + id;
            console.log("Deleting: " + panelId );
            var panel = document.getElementById(panelId)
            var parent = panel.parentNode;
           
            parent.removeChild(panel);
        }
    }

</script>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div class="Mountain-PageName">
        <h3>Категорії</h3>
    </div>
  
    <div class="Mountain-WorkspacesToolPanel">
        <a asp-action="ShowCreateWorkspace" asp-controller="Workspace" style="font-size:larger">
        <i class="fas fa-plus-square M-LSize" style="color:black"></i>
        </a>
        <div  style="margin-left: 10%;display:none;">
            <input type="text" placeholder="Введіть текст для пошуку.." style="width:300px;" />
            <button class="M-HButton" type="button"><i class="fas fa-search"></i></button>
            <button class="M-HButton" type="button"><i class="fas fa-filter"></i></button>
        </div>
        
        <div style="float:right; margin:5px;" class="M-LSize">
        <button class="M-HButton" style="background: #e0e1f9; height: 35px;">
            <i class="fas fa-list"></i>
        </button>
        |
        <button class="M-HButton" style="height: 35px;">
            <i class="fas fa-th"></i>
            </button>
        </div>
    </div>
    <div>

        @foreach (Workspace workspace in Model.Workspaces){
            <div class="Workspace-ListStyle"  id="WorkspacePanel_@workspace.Id">
           
            <div>
                <div>
                    <a asp-action="ShowWorkspace" asp-controller="Workspace" asp-route-id="@workspace.Id">
                        <i class="fas fa-list-alt" style="color:#ceaa26; margin-right:15px; font-size: 1.5rem;"></i>
                    </a>
                </div>
                <div class="M-AContainer M-LSize">@workspace.Aims.Count</div>
                <div class="M-TLContainer M-LSize">@Model.GetTaskListsCount(workspace)</div>
                <div class="M-UTContainer M-LSize">@Model.GetTasksCount(workspace)</div>
            </div>
            <div class="Workspace-name">
                @workspace.Name
            </div>


            <button class="M-HButton Mountain-ContextMenuButton" style="float:right;margin:3px;">
                <i class="fas fa-ellipsis-v"></i> 
            </button>

            <div class="Mountain-WsContMenu" id="ContextMenu @workspace.Id">
                <div class="item">
                    <a asp-action="ShowEditWorkspace" asp-controller="Workspace" asp-route-id="@workspace.Id">
                        <i class="fas fa-edit"></i>Edit
                    </a>
                </div>
                <div class="item">
                    <a href="#" name="DeleteWorkspaceButton" onclick="DeleteWorkspace(@workspace.Id)" >
                        <i class="fas fa-trash"></i>Delete
                    </a>
                </div>

            </div>
         </div>
        }

    </div>
    

</div>
