@model MountainWeb.Models.WorkspaceGroup.ChooseWorkspaceMV;
@using MountainWeb.Data.Entities;

<link href="~/css/MountainStyles.css" rel="stylesheet"/>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       
        window.addEventListener("click", function () {
            $(".Mountain-WsContMenu").removeClass("Mountain-WsContActive");
        });
        $(".Mountain-ContextMenuButton").click(function (event) {
            event.stopPropagation();
            $(".Mountain-WsContMenu").removeClass("Mountain-WsContActive");
            $(this).parent("div").children(".Mountain-WsContMenu").addClass("Mountain-WsContActive");
           
            var x = this.offsetLeft + 20;
            var y = this.offsetTop;
            $(this).parent("div").children(".Mountain-WsContMenu").css({left: x, top:y})
        });
    });
</script>

<div>
    <div class="Mountain-PageName">
        <h3>Робочі місця</h3>
    </div>
  
    <div class="Mountain-WorkspacesToolPanel">
        <a asp-action="ShowCreateWorkspace" asp-controller="Workspace" style="font-size:larger">
        <i class="fas fa-plus-square" style="color:black"></i>
        </a>
        <div  style="margin-left: 150px;">
            <input type="text" placeholder="Введіть текст для пошуку.." />
            <button type="button"><i class="fas fa-search"></i></button>
            <button type="button"><i class="fas fa-filter"></i></button>
        </div>
        
        <div style="float:right;">
        <button>
            <i class="fas fa-list"></i>
        </button>
        |
        <button>
            <i class="fas fa-th"></i>
            </button>
        </div>
    </div>
    <div>

        @foreach (Workspace workspace in Model.Workspaces)
        {
        <div class="Workspace-ListStyle">
            <div>
                <div>
                    <a asp-action="ShowWorkspace" asp-controller="Workspace" asp-route-id="@workspace.Id">
                        <i class="fas fa-play" style="color:black; margin-left:5px; margin-right:5px"></i>
                    </a>
                </div>
                <div>@workspace.Aims.Count A</div>
                <div>@Model.GetTaskListsCount(workspace) TL</div>
                <div>@Model.GetTasksCount(workspace) UT</div>
            </div>
            <div class="Workspace-name">
                @workspace.Name
            </div>


            <a class="Mountain-ContextMenuButton"><i class="fas fa-ellipsis-v"></i> </a>
            <div class="Mountain-WsContMenu" id="ContextMenu @workspace.Id">
                <div class="item">
                    <a asp-action="ShowEditWorkspace" asp-controller="Workspace" asp-route-id="@workspace.Id">
                        <i class="fas fa-edit"></i>Edit
                    </a>
                </div>
                <div class="item">
                    <a asp-action="ShowDeleteWorkspace" asp-controller="Workspace" asp-route-id="@workspace.Id">
                        <i class="fas fa-trash"></i>Delete
                    </a>
                </div>

            </div>
        </div>
        }

    </div>
    

</div>
